doctype html

html(ng-app="Phonebook")

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/style.css')   

  body
    block content
    block javascript
       script(src='/javascripts/lib/angular.js')   
       script(src='/javascripts/lib/ui-boostrap.js')       
       script(src='/javascripts/lib/jquery-min.js')
       script(src='/javascripts/lib/boostrap-modal.js')
       script(src='/javascripts/angular.js')
       

